# Terraform files
*.tfstate
*.tfstate.*
*.tfvars

.terraform/
.terraform.lock.hcl
crash.log
crash.*.log

# Sensitive files
.env
*password*.txt
*.secret

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~


terraform_outputs_test.txt
