---
- name: Configure SQL auth directly in 10-auth.conf
  hosts: all
  become: yes
  tasks:
    - name: Comment out the include line
      ansible.builtin.replace:
        path: /etc/dovecot/conf.d/10-auth.conf
        regexp: '^!include auth-sql.conf.ext'
        replace: '#!include auth-sql.conf.ext'
        
    - name: Remove any existing SQL auth block
      ansible.builtin.shell:
        cmd: |
          sed -i '/# BEGIN SQL AUTH/,/# END SQL AUTH/d' /etc/dovecot/conf.d/10-auth.conf
      changed_when: true
        
    - name: Add SQL auth block at end of file
      ansible.builtin.blockinfile:
        path: /etc/dovecot/conf.d/10-auth.conf
        marker: "# {mark} SQL AUTH"
        block: |
          passdb sql {
          #  args = /etc/dovecot/dovecot-sql.conf.ext
          }
          
          userdb sql {
          #  args = /etc/dovecot/dovecot-sql.conf.ext
          }
        insertafter: EOF
        
    - name: Test config
      ansible.builtin.command:
        cmd: doveconf -n
      register: test
      changed_when: false
      failed_when: test.rc != 0
      
    - name: Restart Dovecot
      ansible.builtin.systemd:
        name: dovecot
        state: restarted
        
    - name: Wait and check
      ansible.builtin.pause:
        seconds: 3
        
    - name: Check logs
      ansible.builtin.command:
        cmd: journalctl -u dovecot -n 10 --no-pager
      register: logs
      changed_when: false
      
    - name: Display
      ansible.builtin.debug:
        msg: "{{ logs.stdout_lines }}"
