# ansible/playbooks/modify_sudoers_nopasswd.yml

- name: Configure passwordless sudo for sudo group
  hosts: all
  become: true
  gather_facts: true  # Changed from false to true to get ansible_date_time
  
  tasks:
    - name: Create sudoers configuration for passwordless sudo
      ansible.builtin.copy:
        dest: /etc/sudoers.d/90-nopasswd-sudo
        content: |
          # Allow members of group sudo to execute any command without password
          # Created by Ansible
          # Date: {{ ansible_date_time.iso8601 }}
          %sudo ALL=(ALL:ALL) NOPASSWD: ALL
        owner: root
        group: root
        mode: '0440'
        validate: '/usr/sbin/visudo -cf %s'
      tags:
        - sudoers
        - nopasswd
    
    - name: Comment out default sudo entry in main sudoers file
      ansible.builtin.lineinfile:
        path: /etc/sudoers
        regexp: '^%sudo\s+ALL=\(ALL:ALL\)\s+ALL'
        line: '# %sudo   ALL=(ALL:ALL) ALL  # Disabled by Ansible in favor of NOPASSWD sudo'
        backrefs: yes
        validate: '/usr/sbin/visudo -cf %s'
      tags:
        - sudoers
        - cleanup
    
    - name: Verify sudoers configuration syntax
      ansible.builtin.command:
        cmd: /usr/sbin/visudo -c
      changed_when: false
      tags:
        - verification
